@font-face {
    font-family: lato;
    src: url(/OpenSans-Regular.otf);
}

body {
    font-family: 'lato' !important;
}

pre{
    background-color: #f5f5f5 !important;
}

.message-body {
    border-color: black;
}

ul{
    list-style: circle;
}
