@font-face {
    font-family: lato;
    src: url(/lato-v16-latin-regular.woff);
}

body {
    font-family: 'lato' !important;
}

pre{
    background-color: #f5f5f5 !important;
}

.message-body {
    border-color: black;
}

ul{
    list-style: circle;
}
