<!DOCTYPE html>

<html>
<div th:replace="fragments/head :: head"></div>

<body>
	<div th:replace="fragments/header :: div"></div>
	<section class="container">
		<article class="message is-info">
			<div class="message-header">
				<p>Info</p>
				<button class="delete" aria-label="delete"></button>
			</div>
			<div class="message-body">
				Please make sure you below preconditions are fulfilled before running tool.
				<ul>
					<li>One</li>
					<li>One</li>
				</ul>
			</div>
		</article>
		<div class="container">
			<div class="field">
				<label class="label">Cloud Provider - Currently only AWS is
					supported</label>
				<div class="control">
					<div class="select">
						<select>
							<option>AWS</option>
						</select>
					</div>
				</div>
			</div>
			<div class="field">
				<label class="label">Config JSON - Please refer
					documentation for more info. If you are unsure keep it as is</label>
				<div class="control">
					<textarea class="textarea" placeholder="Textarea"></textarea>
				</div>
			</div>

			<div class="field is-grouped">
				<div class="control">
					<button class="button is-link">Analyze</button>
				</div>

			</div>
		</div>
	</section>
	<div th:replace="fragments/footer :: footer"></div>
</body>

</html>