<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>GreenBot 🤖</title>
	<link rel="stylesheet" href="webjars/bulma/0.8.0/css/bulma.min.css" />
 	<script type="javascript" src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  	<script type="text/javascript" language="javascript" src="webjars/jquery/3.4.1/dist/jquery.min.js"></script>
	
 	<link rel="stylesheet" href="webjars/highlightjs/9.15.10/styles/default.min.css" />
 	<script type="text/javascript" language="javascript" src="webjars/highlightjs/9.15.10/highlight.min.js"/>
	<script>hljs.initHighlightingOnLoad();</script>
 	
 
	<script type="text/javascript" src="resources/main.js"></script>
	<link rel="stylesheet" type="text/css" href="resources/main.css"/> 
 
</head>